@inherits SlideBase

<h1>Contact Us</h1> 

<img src="images/repo-qrcode.png" alt="https://github.com/mreisz7/BlazorPresentation" style="height: 200px; width: auto;" />

<div class="contact-card-container">
    <div class="contact-card">
        <span class="contact-name">Jonathon Richardson</span>
        <span class="contact-title">Software Architect</span>
        <span class="contact-email"><a href="mailto:jonathon.richardson@milliman.com">jonathon.richardson@milliman.com</a></span>
    </div>
    <div class="contact-card">
        <span class="contact-name">Michael Reisz</span>
        <span class="contact-title">Product Development Manager</span>
        <span class="contact-email"><a href="mailto:michael.reisz@milliman.com">michael.reisz@milliman.com</a></span>
    </div>
</div>
