@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">App Comparison</h1>
        <img class="logo" src="img/react-logo.png" />
        <img class="logo" src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <div class="split-left">
            <iframe src="https://mreisz7.github.io/TechForum2024BlazorDemo/" />
        </div>
        <div class="split-right">
            <iframe src="https://mreisz7.github.io/TechForum2024BlazorDemo/" />
        </div>
    </div>
</div>
