@inherits SlideBase

<h1 class="page-title" style="font-size: clamp(4.4vw, 8.8vw, 4.4rem)">React vs. Blazor:</h1> 
<h2 class="title-secondary" style="font-size: clamp(3vw, 6vw, 3rem); border-bottom: 3px solid #fff">A Comparison of Modern Web Frameworks</h2>

<div class="contact-card-container">
    <div class="contact-card">
        <span class="contact-name">Jonathon Richardson</span>
        <span class="contact-title">Software Architect</span>
        <span class="contact-email"><a href="mailto:jonathon.richardson@milliman.com">jonathon.richardson@milliman.com</a></span>
    </div>
    <div class="contact-card">
        <span class="contact-name">Michael Reisz</span>
        <span class="contact-title">Product Development Manager</span>
        <span class="contact-email"><a href="mailto:michael.reisz@milliman.com">michael.reisz@milliman.com</a></span>
    </div>
</div>