@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">About Blazor</h1>
        <img class="logo" src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <ul>
            <li>Developed and maintained by Microsoft</li>
            <li>Originally released with .NET Core 3 (2019)</li>
            <li>Uses C# and Razor syntax</li>
            <li>.NET Ecosystem</li>
            <li>Component Model</li>
            <li>Client, server, or hybrid rendering</li>
        </ul>
    </div>
</div>