@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">About React</h1>
        <img class="logo" src="img/react-logo.png" />
    </header>
</div>
