@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Additional Resources</h1>
        <img class="logo" src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <div class="split-left">
            <h2>React:</h2>
            <ul>
                <li><a href="https://react.dev/">React Website</a></li>
                <li><a href="https://react.dev/reference/react">Official Documentation</a></li>
                <li><a href="https://react.dev/learn">React Tutorial</a></li>
                <li><a href="https://github.com/enaqx/awesome-react">Awesome React</a></li>
                <li><a href="https://reactrouter.com/en/main">React Router</a></li>
                <li><a href="https://react.carbondesignsystem.com/">Carbon Design System React Components</a></li>

            </ul>
        </div>
        <div class="split-right">
            <h2>Blazor:</h2>
            <ul>
                <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor Website</a></li>
                <li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-8.0&WT.mc_id=dotnet-35129-website">Official Documentation</a></li>
                <li><a href="https://learn.microsoft.com/en-us/training/browse/?expanded=dotnet%2Cazure%2Csurface&products=dotnet%2Cwindows&roles=developer&terms=blazor">Microsoft Blazor Courses</a></li>
                <li><a href="https://blazor-university.com/">Blazor University</a></li>
                <li><a href="https://github.com/AdrienTorris/awesome-blazor">Awesome Blazor</a></li>
                <li><a href="https://github.com/Milliman-InnerSource/milliman-design-system-blazor">Milliman Design System Blazor Component Library</a></li>
                <li><a href="https://github.com/MudBlazor/MudBlazor">MudBlazor Component Library</a></li>
                <li><a href="https://github.com/mreisz7/TechForum2024Slideshow">Slides Source Code</a></li>
            </ul>
        </div>
    </div>
</div>