@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Blazor: Pros & Cons</h1>
        <img class="logo" src="img/blazor-logo.png" />
    </header>
</div>
