@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Blazor: Pros & Cons</h1>
        <img class="logo" src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <div class="split-left">
            <h2 class=@ShowSlideStopElement(1)>Pros:</h2>
            <ul class=@ShowSlideStopElement(1)>
                <li>Unified Language (C#)</li>
                <li>Easy code sharing</li>
                <li>Server or Client rendering</li>
                <li>Simplified build pipeline</li>
                <li>Excellent debugging experience</li>
                <li>Less boilerplate code</li>
            </ul>
        </div>
        <div class="split-right">
            <h2 class=@ShowSlideStopElement(2)>Cons:</h2>
            <ul class=@ShowSlideStopElement(2)>
                <li>Less-mature framework</li>
                <li>Large initial download size (WebAssembly)</li>
                <li>Harder to hire for</li>
            </ul>
        </div>
    </div>
</div>

@code {
    public override int SlideStopMax { get; set; } = 2;
}
