@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Comparison: Routing</h1>
        <img class="logo" src="img/react-logo.png" />
        <img class="logo" src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <div class="split-left">
            <CodeBlock FileName="examplePage.jsx" Class=@ShowSlideStopElement(1)>
                @CodeStrings.examplePageJsx
            </CodeBlock>
            <CodeBlock FileName="app.jsx" Class=@ShowSlideStopElement(1)>
                @CodeStrings.appRoutingJsx
            </CodeBlock>
        </div>
        <div class="split-right">
            <CodeBlock FileName="Button.razor" Class=@ShowSlideStopElement(2)>
                @CodeStrings.examplePageRazor
            </CodeBlock>
            <CodeBlock FileName="App.razor" Class=@ShowSlideStopElement(2)>
                @CodeStrings.appRoutingRazor
            </CodeBlock>
        </div>
    </div>
</div>


@code {
    public override int SlideStopMax { get; set; } = 2;
}