@inherits SlideBase

<h1>WebAssembly - Advantages</h1>
<ul class="bullet-points">
    <li>Bidirectional interoperability with js</li>
    <li>Executes in the browser’s security sandbox</li>
    <li>No runtime code interpretation</li>
</ul>
