@inherits SlideBase

<h1>Some Blazor Characteristics</h1>
<ul class="bullet-points">
    <li>HTML generated from Razor code</li>
    <li>CSS for styling</li>
    <li>C# for front-end logic</li>
    <li>Component oriented</li>
    <li>Server side continues with ASP.NET Core</li>
    <li>JavaScript not required, but available when needed</li>
    <li>Similarities to JS frameworks (e.g., React, Angular)</li>
</ul>
