@inherits SlideBase

<h1>Use Blazor!</h1>
<ul class="bullet-points">
    <li>Avoid JS ecosystem headaches</li>
    <li>Reduced tech stack allows deeper skill focus</li>
    <li>Speed</li>
    <li>Reuse</li>
</ul>
