@inherits SlideBase

<h1>Additional Resources:</h1> 

<div>
    <h3>Milliman Design System:</h3>
    <ul>
        <li><a href="https://github.com/Milliman-InnerSource/milliman-design-system" target="_blank">Milliman Design System (GitHub Repo)</a></li>
        <li><a href="https://github.com/Milliman-InnerSource/milliman-design-system-blazor" target="_blank">Blazor Component Library (GitHub Repo)</a></li>
    </ul>
    <h3>Blazor Resources:</h3>
    <ul>
        <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor - Official Microsoft Docs</a></li>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0" target="_blank">Blazor Docs</a></li>
        <li><a href="https://docs.microsoft.com/en-us/learn/browse/?expanded=dotnet%2Cazure%2Csurface&products=dotnet%2Cwindows&roles=developer&terms=blazor" target="_blank">Blazor Microsoft Learn Courses</a></li>
        <li><a href="https://blazor-university.com/" target="_blank">Blazor University</a></li>
        <li><a href="https://github.com/AdrienTorris/awesome-blazor" target="_blank">Awesome Blazor</a></li>
        <li><a href="https://github.com/bUnit-dev/bUnit" target="_blank">BUnit</a></li>
    </ul>
    <h3>Carbon Component Resources:</h3>
    <ul>
        <li><a href="https://www.carbondesignsystem.com/" target="_blank">Carbon Design System</a></li>
        <li><a href="https://github.com/carbon-design-system/carbon/tree/v10.20.0/packages/react" target="_blank">React Components (GitHub Repo)</a></li>
        <li><a href="https://github.com/IBM/carbon-components-angular" target="_blank">Angular Components (GitHub Repo)</a></li>
        <li><a href="https://github.com/carbon-design-system/carbon-components-vue" target="_blank">Vue Components (GitHub Repo)</a></li>
    </ul>
    <h3>Web Assembly</h3>
    <ul>
        <li><a href="https://github.com/appcypher/awesome-wasm-langs" target="_blank">Awesome WASM Languages</a></li>
    </ul>
</div>
