@inherits SlideBase

<h1>Some Advantages</h1>
<ul class="bullet-points">
    <li>Can eliminate need for JS / related build tooling</li>
    <li>Reuse (e.g. C# types common to server and UI)</li>
    <li>Use of existing .NET packages – client and server</li>
    <li>Less expansive skill set required</li>
</ul>
