@inherits SlideBase

<h1>Blazor Server vs. Blazor WebAssembly</h1>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Blazor Server</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Browser events communicated to the server</td>
            </tr>
            <tr>
                <td>Event handlers run on the server</td>
            </tr>
            <tr>
                <td>Streamlined client/server communication</td>
            </tr>
            <tr>
                <td>Best when event handling depends on server resources</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Blazor WebAssembly</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.NET runtime runs on the browser</td>
            </tr>
            <tr>
                <td>Client-side code loaded with the page</td>
            </tr>
            <tr>
                <td>Ahead Of Time (AOT) compilation</td>
            </tr>
            <tr>
                <td>Best for intense client side tasks</td>
            </tr>
        </tbody>
    </table>
</div>
