@inherits SlideBase

<h1>Contact Us</h1> 

<img src="images/repo-qrcode.png" alt="https://github.com/mreisz7/BlazorPresentation" style="height: 200px; width: auto;" />

<div class="contact-card-container">
    <div class="contact-card">
        <span class="contact-name">Dan Buis</span>
        <span class="contact-title">Data Engineer</span>
        <span class="contact-email"><a href="mailto:daniel.buis@milliman.com">daniel.buis@milliman.com</a></span>
    </div>
    <div class="contact-card">
        <span class="contact-name">Evan Klein</span>
        <span class="contact-title">Systems Engineer</span>
        <span class="contact-email"><a href="mailto:evan.klein@milliman.com">evan.klein@milliman.com</a></span>
    </div>
    <div class="contact-card">
        <span class="contact-name">Tom Puckett</span>
        <span class="contact-title">Systems Architect</span>
        <span class="contact-email"><a href="mailto:tom.puckett@milliman.com">tom.puckett@milliman.com</a></span>
    </div>
    <div class="contact-card">
        <span class="contact-name">Michael Reisz</span>
        <span class="contact-title">Director of Engineering</span>
        <span class="contact-email"><a href="mailto:michael.reisz@milliman.com">michael.reisz@milliman.com</a></span>
    </div>
</div>
