@inherits SlideBase

<h1 class="quote"><i>"I was writing something that could be used by people who didn't know what a compiler was. They were just going to load it."</i><br /><br />- Brendan Eich</h1>