@inherits SlideBase

<h1>JavaScript is <span class="code">dynamically</span> and <span class="code">weakly</span> typed</h1>

<h1 class="code">
  var a = 5;<br />
  a = 2; <span class="code-comment">// This is fine.</span><br />
  a = {}; <span class="code-comment">// This is also fine.</span>
</h1>