@inherits SlideBase

<div style="text-align: center">
  <h1><span class="code">Mocha/Livescript</span> becomes <span class="code">JavaScript</span></h1>
  <h1 class=@ShowSlideStopElement(1)>Microsoft develops <span class="code-blue">JScript</span></h1>
  <h1 class=@ShowSlideStopElement(2)>ECMA-262, better known as <span class="code-yellow">ECMAScript</span></h1>
</div>


@code {
    public override int SlideStopMax { get; set; } = 2;
}
