@inherits SlideBase

<h1 class="quote"><i>"Write small modules that each do one thing, and assemble them into other modules that do a bigger thing. You can't get into <span class="red">callback hell</span> if you don't go there."</i><br /><br />- Isaac Schlueter, creator of NPM</h1>
