@inherits SlideBase

<img class="splash-image" src="images/JeffAtwood.jpg" alt="Any application that can be written in JavaScript, will eventually be written in JavaScript." />

<span class="photo-attribution">
    By D.Begley - Joel Spolsky and Jeff Atwood present at MIX09
</span>
