@inherits SlideBase

<h1 style="width: 75%; text-align: center;">Code written in the modern JavaScript landscapes often relies on <span class="red">3rd-party packages</span> in lieu of <span class="red">missing language features.</span></h1>