@inherits SlideBase

<h1 style="width: 75%; text-align: center">All numbers are <span class="code">64-bit floating point</span></h1>
<ul class="code bullet-points">
  <li><span class="terminal-arrow">></span> <span class="code">3 + 4</span><br /></li>
  <li class=@($"{ShowSlideStopElement(1)}")><span class="terminal-arrow">&lt;</span> <span class="code-result">7</span><br /></li>
  <li class=@($"{ShowSlideStopElement(2)}")><span class="terminal-arrow">></span> <span class="code">0.7 + 0.1</span><br /></li>
  <li class=@($"{ShowSlideStopElement(3)}")><span class="terminal-arrow">&lt;</span> <span class="code-result">0.7999999999999999</span></li>
</ul>

@code {
        public override int SlideStopMax { get; set; } = 3;
}