@inherits SlideBase

<h1 class="title-secondary" style="font-size: clamp(2vw, 6.2vw, 3.4rem)">Can I Contribute?</h1>

<img class=@ShowSlideStopElement(1) src="/images/HelpWanted.gif" alt="Volunteers Needed" />

@code {
    public override int SlideStopMax { get; set; } = 1;
}   