@inherits SlideBase

<h1>Implementing Milliman Design System</h1>
<ol class="bullet-points">
    <li>Set up nuget.config for GitHub Package Registry access</li>
    <li>Add the package reference to <code>.csproj</code><br /><code class="code-small">@("<PackageReference Include=\"Milliman Design System\" Version=\"0.1.0-Alpha.1\" />")</code></li>
    <li>Add a using reference to <code>_Imports.razor</code><br /><code class="code-small">@("@using MillimanDesignSystem.Components")</code></li>
    <li>Add stylesheet reference <code>_Layout.cshtml</code><br /><code class="code-small">@("<link href=\"_content/MillimanDesignSystem/dist/index.css\" rel=\"stylesheet\" />")</code></li>
</ol>
