@if (SlideShouldRender()) {
    <section class="slide-frame @SlidePositionClass()">
        @ChildContent
    </section>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    [EditorRequired]
    public int CurrentSlideIndex { get; set; }

    [Parameter]
    [EditorRequired]
    public int SlideIndex { get; set; }

    private bool SlideShouldRender()
    {
        return Math.Abs(CurrentSlideIndex - SlideIndex) <= 3;
    }

    private string SlidePositionClass()
    {
        if (CurrentSlideIndex > SlideIndex)
        {
            return "previous";
        } else if (CurrentSlideIndex < SlideIndex)
        {
            return "next";
        }
        return "current";
    }
}
